{% extends 'LVL1.html' %}

{% block title %}Django U{% endblock %}
{% block header %}Create a Class:{% endblock %}

{% block content %}

<div>
    <form method="POST" sction="{% url 'createClass' %}">
        <div>
            {% csrf_token %}
            {{ form.non_field_errors }}
            {{ form.as_p }}
        </div>
        <div>
            <input type="submit" value="Create Class" name="Save_Item">
            <a href="{% url 'admin_console' %}"><button>Cancel</button></a>
        </div>
    </form>
</div>

{% endblock %}