<!-- Schedule page displays classes that have already been edited in a drop down menu -->
{% extends 'Lvl1.html' %}

{% block title %}Django U{% endblock %}
{% block header %}Schedule{% endblock %}

{% block content %}
<div>
    <form name="classSchedule" method="POST" action="">
        <div>
            {% csrf_token %}
            <label for="class_menu">See Classes:</label>
            <select id="class_menu" name="menu" onchange="top.location.href=this.options[this.selectedIndex].value;">
            {% for class in classes %}
                <option value="../{{ class.pk }}/details/">{{ class.name }}</option>
            {% endfor %}
            </select>
            <div>
                <a href="{% url 'createClass' %}"><button>Create a Class</button></a>
                <a href="{% url 'home' %}"><button>Log Out</button></a>
            </div>
        </div>
    </form>
</div>
{% endblock %}